body{
     font-family: 'Open Sans', sans-serif;
 }
 .container{
     border: 2px solid black;
     width: 270px;
     margin: 20px auto;
     padding: 0 7px;
 }
 .bold{
     text-align: center;
     font-weight: 800;
     margin: 0;
 }
 .tag1{
     margin: 0;
 }
 .bold2{
     display: flex;
     justify-content: space-between;
     margin: 0;
     font-weight: 800;
 }
 .hrtag1{
     padding: 5px;
     background-color: black;
     margin: 2px;
 }
 h4{
     margin: 0;
 
 }
 .bold3{
     display: flex;
     justify-content: space-between;
     margin: 0;
     font-weight: 700;
     font-size: 30px; 
 }
 .hrtag2{
     height: 5px;
     background-color: black;
     margin: 0;
 }
 .h4tag1{
     display: flex;
     justify-content: end;
     font-weight: 800;
     margin: 0;
 }
 .bold4{
     margin: 0;
     display: flex;
     justify-content: space-between;
     font-size: 13px;
 }
 .span1{
     font-weight: 800;
 }
 hr{
     margin: 0;
 }
 .bold5{
     margin: 0;
     display: flex;
     justify-content: space-between;
     margin-left: 12px;
     font-size: 14px;
 }
 .gap{
     margin-left: 17px;
 }
 .p1{
     font-weight: 800;
 }
 .hrtag3{
     height: 8px;
     background-color: black;
     margin: 0;
 }
 .last{
     font-size: 10px;
     margin: 5px 0;
     padding: 5px;
 }